.section1 {
    background-color: var(--dark2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    padding: 0 10vw;
    grid-template-columns: repeat(4, 19vw);
    column-gap: 1vw;
    row-gap: 1vw;
}

.gridlink {
    background-color: var(--dark1);
    height: 20vh;
    border-radius: 25px;
}